{% extends "account/_base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  {% trans "Esqueceu sua senha?" %}
{% endblock title %}
{% block content %}
  <section class="row justify-content-center my-lg-14 my-8">
    <div class="col-lg-4 col-md-6 col-12 order-lg-1 order-2">
      <img src="{% static 'assets/images/svg-graphics/fp-g.svg' %}"
           class="img-fluid"
           alt="forgot-password" />
    </div>
    <div class="col-lg-5 col-md-6 col-12 offset-lg-1 order-lg-2 order-1">
      <div class="mb-6">
        <h2 class="fw-bold mb-3">
          {% trans "Esqueceu sua senha?" %}
        </h2>
        <p>
          {% blocktrans trimmed %}
            Informe o seu endereço de e-mail e enviaremos um link para redefinir a sua senha.
          {% endblocktrans %}
        </p>
      </div>
      <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div class="vstack gap-3">
          {% render_field form.email class="form-control" placeholder="E-mail" %}
          <button type="submit" class="btn btn-primary">
            {% trans "Enviar" %}
          </button>
          <a href="{% url 'account_login' %}" class="btn btn-light">
            {% trans "Voltar para o login" %}
          </a>
        </div>
      </form>
      {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show mt-6">
          <ul class="mb-0">
            {% for field in form %}
              {% for error in field.errors %}
                <li>
                  {{ error }}
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
          <button type="button" class="btn-close" data-bs-dismiss="alert">
          </button>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock content %}
