{% extends "account/_base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  {% trans "Redefinir senha" %}
{% endblock title %}
{% block content %}
  <section class="row justify-content-center my-lg-14 my-8">
    <div class="col-lg-4 col-md-6 col-12 order-lg-1 order-2">
      <img src="{% static 'assets/images/svg-graphics/fp-g.svg' %}"
           class="img-fluid"
           alt="forgot-password" />
    </div>
    <div class="col-lg-5 col-md-6 col-12 offset-lg-1 order-lg-2 order-1">
      {% url 'account_reset_password' as account_reset_password_url %}
      {% url 'account_login' as account_login_url %}
      {% if token_fail %}
        <div class="mb-6">
          <h2 class="fw-bold mb-3">
            {% trans "Token inválido" %}
          </h2>
          <p>
            {% blocktrans trimmed with reset_url=account_reset_password_url %}
              O link de redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, faça uma <a href="{{ reset_url }}">nova solicitação</a>.
            {% endblocktrans %}
          </p>
        </div>
        <div class="vstack gap-3">
          <a href="{% url 'account_login' %}" class="btn btn-light">
            {% trans "Voltar para o login" %}
          </a>
        </div>
      {% else %}
        <div class="mb-6">
          <h2 class="fw-bold mb-3">
            {% trans "Redefina sua senha" %}
          </h2>
          <p>
            {% trans "Escolha uma nova senha para sua conta." %}
          </p>
        </div>
        <form method="post" action=".">
          {% csrf_token %}
          <div class="vstack gap-3">
            <div class="password-field position-relative">
              {% render_field form.password1 class="form-control fakePassword" placeholder="Senha" %}
              <span><i class="bi bi-eye-slash passwordToggler"></i></span>
            </div>
            <div class="password-field position-relative">
              {% render_field form.password2 class="form-control fakePassword" placeholder="Confirme a Senha" %}
              <span><i class="bi bi-eye-slash passwordToggler"></i></span>
            </div>
            <button type="submit" class="btn btn-primary">
              {% trans "Alterar senha" %}
            </button>
            <div>
              {% blocktrans trimmed with login_url=account_login_url %}
                Já redefiniu sua senha?
                <a href="{{ login_url }}" class="link-primary fw-bold">
                  Entrar
                </a>
              {% endblocktrans %}
            </div>
          </div>
        </form>
        {% if form.errors %}
          <div class="alert alert-danger alert-dismissible fade show mt-6">
            <ul class="mb-0">
              {% for field in form %}
                {% for error in field.errors %}
                  <li>
                    {{ error }}
                  </li>
                {% endfor %}
              {% endfor %}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert">
            </button>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </section>
{% endblock content %}
