{% load static %}

<script src="{% static 'assets/js/vendors/jquery.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/libs/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'assets/libs/slick-carousel/slick/slick.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/slick-slider.js' %}"></script>
<script src="{% static 'assets/libs/tiny-slider/dist/min/tiny-slider.js' %}"></script>
<script src="{% static 'assets/js/vendors/tns-slider.js' %}"></script>
<script src="{% static 'assets/js/vendors/zoom.js' %}"></script>
<script src="{% static 'assets/js/vendors/password.js' %}"></script>
<script src="{% static 'assets/js/theme.min.js' %}"></script>
<script src="{% static 'js/project.js' %}"></script>
